@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

.Navbar {
  height: 100%;
  width: 68px;
  background-color: #1a0931;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0;
}

.logo {
  margin-bottom: 20px;
}

.logo img {
  width: 40px;
  height: 40px;
}

.content {
  font-size: 20px;
  margin-left: 68px;
  margin-right: 68px;
  padding: 20px;
  width: calc(100vw - 68px);
  overflow: auto;
  position: fixed;
}

.content h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #2f3136;
}

.roadmap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.quarter {
  border: 1px solid #f2f2f4;
  border-radius: 8px;
  padding: 25px;
  background-color: #fefeff;
}

.quarter h3 {
  font-family: "Open Sans", sans-serif;
  color: #5d6372;
  font-size: 12px;
}

.quarter h2 {
  font-family: "Open Sans", sans-serif;
  color: #5d6372;
  font-size: 14px;
}

.task {
  border: 2px solid #e4e4e8;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  background-color: #fefeff;
}

.task p {
  font-family: "Open Sans", sans-serif;
  color: #2f3136;
  font-size: 14px;
}

.Button {
  background-color: transparent;
  border: none;
}

.task-info {
  display: flex;
  align-items: center;
}

.task-info p {
  margin-left: 8px;
}

.gap {
  flex-grow: 1;
}

.newtask {
  display: flex;
  align-items: center;
}

#task-description {
  font-family: "Open Sans", sans-serif;
  color: #b7bdc9;
  font-size: 14px;
}
